<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>Posting</title>
    <link rel="stylesheet" type="text/css" href="./static/styles/posting.css"/>
    <script type="text/javascript" src="./static/js/posting.js"></script>
</head>
<body>
    <div id="container">
        <div id="img-check-wrapper">
            {# img url 은 url로 받아온 사진들 보여주는 공간입니다  #}
            <div id="img-url"></div>
            <input id="url" placeholder="포토 URL"/>
            <button class="btn" onclick="get_url()">사진확인</button>
        </div>
        <div id="posting-wrapper">


            <input id="title" placeholder="제목"/>
            <input id="content" placeholder="내용"/>

            <button class="btn" onclick="create_post()">등록하기</button>
            </div>
    </div>
</body>

</html>