<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/background.css"/>
    <script type="text/javascript" src="/static/js/main.js"></script>
    {#            fontawesome CDN#}
    <script src="https://kit.fontawesome.com/d8cab73848.js" crossorigin="anonymous"></script>
    <title>around space</title>
</head>
<body>
<div class="stars"></div>
<div class="twinkling"></div>
<div id="main">
    <div id="header">
        <div class="logo-wrapper">
            <p id="logo" onclick="window.location.reload()">Around Space</p>
        </div>
        <div class="add-icon-wrapper"
             onclick="go_posting()">
            <i class="fas fa-plus header-icon fa-3x"></i>
        </div>
    </div>
    <div id="container">
        {% for post in posts %}
            <div class="post-wrapper">
                <div class="post-header">
                    <div class="left-wrapper" onclick="go_profile('{{ post.user.id }}')">
                        <img src="data:image.png;base64, {{ return_profile_img(post.user._id) }}">
                        <p>{{ post.user.id }}</p>
                    </div>
                    <div class="right-wrapper">
                        <img src="/static/img/more@3x.png">
                    </div>
                </div>
                <div class="post-body">
                    <div class="post-img">
                        <img src="/static/post/{{ post.file }}">
                    </div>
                    <div class="post-icons-wrapper">
                        <div class="left-wrapper">
                            <i class="far fa-heart post-icon fa-3x"></i>
                            <i class="far fa-comment post-icon-2 fa-3x"></i>
                            <i class="far fa-paper-plane post-icon-3 fa-3x"></i>
                        </div>
                        <div class="right-wrapper">
                            <i class="far fa-star fa-3x"></i>
                        </div>
                    </div>
                </div>
                <div class="post-footer">
                    <div class="post-like-wrapper">

                        <img src="data:image.png;base64, {{ return_profile_img(post.user._id) }}">
                        <p><strong>{{ post.user.id }}</strong>님 <strong>외 {{ post.like }}명</strong>이 좋아합니다</p>
                    </div>
                    <div class="post-content-wrapper">
                        <p class="post-author">{{ post.user.id }}</p>
                        <p class="post-content">{{ post.content }}</p>
                    </div>
                    {#                        <p class="post-time">#}
                    {#                            {{ post.create_time }}#}
                    {#                        </p>#}
                </div>

                {% if post.comments %}
                    {% for comment in post.comments %}  <!-- 등록한 댓글을 출력 -->
                        <div class="comment-wrapper">
                            <div class="comment-show-box">
                                <span style="white-space: pre-line; color:cornflowerblue;">{{ comment.user }}</span>
                                <span>
                                            {{ comment.content }}, <strong>{{ comment.create_time }}</strong>
                                        </span>
                                {% if user['id'] == comment['user'] %}
                                    {% set comment_id = comment['comment_id']  %}
                                    {% set post_id = post['_id']  %}       
                                    <input onclick=del_comment({{ comment_id }},{{ post_id }})
                                           style="background-color: transparent" type="button" value="x">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}


                <div class="container my-3">
                    <h5 class="border-bottom pb-2">댓글</h5>
                    <form action="comment/create" method="POST">
                        <div class="form-group">
                            <label for="content"></label>
                            <textarea class="form-control cmt-box" name="content" id="content" rows="3"></textarea>
                            {#                            <input class="main-comment-text" type="text" placeholder="댓글 달기...">#}
                            <input type="hidden" name='post_id' value="{{ post._id }}">
                            <button type="submit" class="btn btn-primary com-btn">저장하기</button>
                        </div>
                    </form>
                </div>

            </div>
        {% endfor %}
    </div>
    <div id="footer">
        <div id="icon-wrapper">
            <div onclick="go_profile()">
                <i class="far fa-user fa-3x footer-icon"></i>
            </div>
        </div>
    </div>
</div>
</body>

</html>