<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles/background.css"/>
    <script type="text/javascript" src="/static/js/main.js"></script>
    {#            fontawesome CDN#}
    <script src="https://kit.fontawesome.com/d8cab73848.js" crossorigin="anonymous"></script>
    <title>around space</title>
</head>
<body>
<div class="stars"></div>
<div class="twinkling"></div>
<div id="main">
    <div id="header">
        <div class="logo-wrapper">
            <p id="logo" onclick="window.location.reload()">Around Space</p>
        </div>
        <div class="add-icon-wrapper"
             onclick="go_posting(`{{ user['id'] }}`)">
            <i class="fas fa-plus header-icon fa-3x"></i>
        </div>
    </div>
    <div id="container">
        <div id="story-container">
            <div class="story-wrapper">
                <div class="story-off">
                    <img src="/static/img/xmas1.jpeg"/>
                </div>
                <p>내 스토리</p>
            </div>
            <div class="story-wrapper">
                <div class="story-on">
                    <img src="/static/img/xmas1.jpeg"/>
                </div>
                <p>내 스토리</p>
            </div>
            <div class="story-wrapper">
                <div class="story-on">
                    <img src="/static/img/xmas1.jpeg"/>
                </div>
                <p>내 스토리</p>
            </div>
            <div class="story-wrapper">
                <div class="story-off">
                    <img src="/static/img/xmas1.jpeg"/>
                </div>
                <p>내 스토리</p>
            </div>
            <div class="story-wrapper">
                <div class="story-off">
                    <img src="/static/img/xmas1.jpeg"/>
                </div>
                <p>내 스토리</p>
            </div>
            <div class="story-wrapper">
                <div class="story-off">
                    <img src="/static/img/xmas1.jpeg"/>
                </div>
                <p>내 스토리</p>
            </div>
        </div>
        <div id="post-container">

        </div>
    </div>
    <div id="footer">
        <div id="icon-wrapper">
            <img src="/static/img/home@3x.png">
            <img src="/static/img/search@3x.png">
            <img src="/static/img/trending@3x.png">
            <img src="/static/img/like@3x.png">
            <div onclick="go_profile()">
                <img src="/static/img/home@3x.png">
            </div>
        </div>
    </div>
</div>


</body>

</html>