<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./static/styles/login.css" />
    <script type="text/javascript" src="./static/js/login.js"></script>

</head>
<body>

<div class="main-box">
    <div class="login-box">
        <div class="logo">
        로고
        </div>
        <div>
            <form>
                <input id='userid' type='text' placeholder="사용자 이름"/><br>
                <input id='pwd' type='password' placeholder="비밀번호"/>
            </form>
            <button class="login-btn">로그인</button>
        </div>
    </div>
    <div class="regist-box">
        계정이 없으신가요? 가입하기
    </div>
</div>


</body>
</html>