<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="./static/styles/profile.css"/>
    <script type="text/javascript" src="./static/js/profile.js"></script>
</head>
<body>
    <div id="profile-container">
        <div id="profile-header">
            <p>프로필사진</p>
            <h3>{{ name }}!</h3>
            <button id="profile-edit">프로필 편집</button>
        </div>
        <div id="profile-body">
            자신의 게시물을 모아볼 수 있도록 구성합니다.
        </div>
        <div id="profile-footer">
            <!--# 메인페이지로 돌아가는 버튼-->
            <button class="go_back_to_main" onclick="to_main()">메인으로 돌아가기</button>
        </div>
    </div>

</body>
</html>
