<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <link rel="stylesheet" type="text/css" href="./static/styles/background.css"/>
    <title>프로필</title>
    <link rel="stylesheet" type="text/css" href="./static/styles/profile.css"/>
    <script type="text/javascript" src="./static/js/profile.js"></script>
    <script src="https://kit.fontawesome.com/d8cab73848.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="stars"></div>
<div class="twinkling"></div>
<div class="main">
    <div id="header">
        <div class="logo-wrapper">
            <p id="logo" onclick="window.location.href = '/'">Around Space</p>
        </div>
    </div>
    <!--# 프로필 전체페이지 컨테이너입니다-->
    <div id="profile-container">
        <div class="container-wrapper">
            <!--# 프로필 상단 컨테이너입니다-->
            <div class="li-wrapper">
                <div id="profile-header">
                    <!--# user의 {name},{photo},{e-mail}을 편집할 수 있습니다-->
                    <li><img class="profile-img" src="data:image.png;base64, {{ profile_img }}" alt="프로필 사진입니다."></li>
                    <div class="id-email">
                    <li>{{ user['id'] }}</li>
                    <li>{{ user['email']}}</li>
                        <li>{{ user['description']}}</li>
                        </div>
                </div>
                {% if login_user %}
                    {% if user.id == login_user.id %}
                    <div class="btn">
                        <!--# 클릭하여 로그아웃할 수 있습니다-->
                        <button onclick="sign_out()" id="sign-out">로그아웃</button>
                        <!--# 클릭하여 user의 프로필을 편집할 수 있습니다-->
                        <button onclick="to_profile_edit()" id="update_profile">프로필 편집</button>
                        <!--# 클릭하여 user의 계정을 삭제할 수 있습니다-->
                        <button onclick="remove()" id="delete_private_info()">회원탈퇴</button>
                    </div>
                    {% endif %}
                {% else %}
                     <div class="btn">
                        <!--# 클릭하여 로그아웃할 수 있습니다-->
                        <button onclick="sign_out()" id="sign-out">로그아웃</button>
                        <!--# 클릭하여 user의 프로필을 편집할 수 있습니다-->
                        <button onclick="to_profile_edit()" id="update_profile">프로필 편집</button>
                        <!--# 클릭하여 user의 계정을 삭제할 수 있습니다-->
                        <button onclick="remove()" id="delete_private_info()">회원탈퇴</button>
                    </div>
                 {% endif %}
            </div>
            <!--# 자신의 게시물을 모아볼 수 있도록 구성합니다-->
            <div id="image-container">
                {% for post in posts %}
                    <div id="profile-body">
                        <img src="/static/post/{{ post['file'] }}"> {# 여기가 게시글 이미지 부분입니다 #}
                    </div>
                {% endfor %}

            </div>
            <!--# 프로필 하단 컨테이너입니다-->
            <div id="profile-footer">
                <!--# 클릭으로 메인페이지로 돌아갈 수 있습니다-->
                <div id="icon-wrapper">
                    <div onclick="to_main()">
                        <i class="fas fa-home fa-3x footer-icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
