<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="./static/styles/profile.css"/>
    <script type="text/javascript" src="./static/js/profile.js"></script>
</head>
<body>
    <!--# 프로필 전체페이지 컨테이너입니다-->
    <div id="profile-container">
        <!--# 프로필 상단 컨테이너입니다-->
        <div id="profile-header">
            <!--# user의 {name},{photo},{e-mail}을 편집할 수 있습니다-->
            <h3>{{ user['id'] }}!</h3>
            <h3>{{ user['email'] }}!</h3>
            <!--<h3>{{ user['pw'] }}!</h3>-->
            <!--# 클릭하여 로그아웃할 수 있습니다-->
            <button onclick="sign_out()" id="sign-out">로그아웃</button>
            <!--# 클릭하여 user의 프로필을 편집할 수 있습니다-->
            <!--<button onclick="update_profile()" id="profile-edit">프로필 편집</button>-->
        </div>
        <!--# 자신의 게시물을 모아볼 수 있도록 구성합니다-->
        <div id="profile-body">
            <!--<h5>{{ photo }}!</h5>회원가입에서 받은 photo url 필요-->
        </div>
        <!--# 프로필 하단 컨테이너입니다-->
        <div id="profile-footer">
            <!--# 메인페이지로 돌아가는 버튼입니다-->
            <button class="go_back_to_main" onclick="to_main()">메인으로 돌아가기</button>
        </div>
    </div>

</body>
</html>
