<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./static/styles/regist.css" />
    <script type="text/javascript" src="./static/js/regist.js"></script>
</head>
<body>

로고
아이디
비밀번호
비밀번호 확인
회원가입

</body>
</html>