#container {
}

#img-check-wrapper {
}

.img-check {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

#img-url {

}


#posting-wrapper{


}

.btn{

}