body {
    max-width: 720px;
    margin: 0 auto;
}

.profile-img {
    width: 13vw;
    max-width: 80px;
    max-height: 80px;
    height: 13vw;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(#c4c4c4, #c4c4c4);
    background-origin: border-box;
    background-clip: content-box, border-box;
}