    /*Ballet Harmony 폰트를 다운 받아야 합니다. */
    /*다운로드 링크 : https://www.dafont.com/ballet-harmony.font*/

* {
    z-index: 2;
}

p {
    color: white;
}
body {
    max-width: 720px;
    margin: 0 auto;
}

/* 헤더 */
#header {
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    max-width: 720px;
    border-bottom: 1px solid gray;
     z-index: 3;
}


#header #logo {
    /*Ballet Harmony 폰트를 다운 받아야 합니다. */
    /*다운로드 링크 : https://www.dafont.com/ballet-harmony.font*/
    font-family: Ballet Harmony;
    font-size: 55px;
    background-image: linear-gradient(100deg, deeppink, coral, greenyellow, deepskyblue, blue, purple);
    -webkit-background-clip: text;
    color: transparent;

}

.logo-wrapper {
    margin-left: 10%;
    text-align: center;
     flex-grow: 2;
}

#logo:hover, #logo:focus { animation-duration: 3s; animation-name: rainbowLink; animation-iteration-count: infinite; animation-timing-function: ease-in; }
@keyframes rainbowLink {
 0% { color: deeppink;}
 15% { color: coral; }
 30% { color: yellow; }
 45% { color: yellowgreen; }
 60% { color: deepskyblue; }
 75% { color: purple; }
 90% { color: #6b2aff; }
 100% { color: #e82aff; }
}

.add-icon-wrapper {
    width: 10%;
 flex-grow: 0;
}

.header-icon {
    color: cornflowerblue;
}

/* 컨테이너 */
#container {
    padding-top: 10%;
    padding-bottom: 12%;
}

/* 스토리 */
#story-container {
    z-index: 1;
    padding-left: 1%;
    background-color: black;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    top: 0;

}

.story-wrapper {
    width: auto;
    margin-top: 0;
    margin-bottom: 2.5%;
    margin-left: 3.2%;
    margin-right: 3.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.story-wrapper .story-on {
    width: 13vw;
    max-width: 80px;
    max-height: 80px;
    height: 13vw;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(to right, #ff7700, #ff3636aa, #ff00c3);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.story-wrapper .story-off {
    width: 13vw;
    max-width: 80px;
    max-height: 80px;
    height: 13vw;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#f6f6f6, #f6f6f6),
    linear-gradient(#c4c4c4, #c4c4c4);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.story-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.story-wrapper p {
    margin-top: 10%;
    margin-bottom: 0%;
    font-size: 12px;
}

/* 포스트 - 공통 */
.left-wrapper {
    margin-left: 3%;
    display: flex;
    align-items: center;
    width: 100%;
}

.right-wrapper {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 3%;

}

.right-wrapper > i {
    color: cornflowerblue;
    z-index: 1;
}

/* 포스트 - 헤더 */

.post-header {
    position: relative;
    z-index: 1;
    margin: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    width: 100%;
}


.post-header .left-wrapper img {
    width: 5vw;
    height: 5vw;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin: 3% 2%;
}

.post-header .left-wrapper p {
    margin-left: 2%;
    font-weight: bold;
    font-size: 14px;
}



/* 포스트 - 바디 */

.post-body .post-img {


}

.post-img > img {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;

}

.post-body .post-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
}

/* 아이콘 크기가 달라서 부득이 하게 이렇게 만들었으나, 그냥 img 로 처리하는게 맞습니다! */
.post-body .post-icons-wrapper .left-wrapper .post-icon {
    margin: 2% 4%;
    width: 14%;
    color: cornflowerblue;
    z-index: 1;

}

.post-body .post-icons-wrapper .left-wrapper .post-icon:hover {
    color: darkorange;
     z-index: 1;
}

.post-body .post-icons-wrapper .left-wrapper .post-icon-2 {
    margin: 2% 4%;
    width: 13%;
    color: cornflowerblue;
     z-index: 1;
}

.post-body .post-icons-wrapper .left-wrapper .post-icon-3 {
    margin: 2% 4%;
    width: 14%;
    color: cornflowerblue;
     z-index: 1;

}

.post-body .post-icons-wrapper .right-wrapper img {
    margin: 2% 4%;
    width: 11%;
}

/* 포스트 - 푸터 */
.post-footer {
    margin-bottom: 4%;
    position: relative;
    background-color: black;
    padding-left: 2%;
    z-index: 1;
}

.post-footer .post-like-wrapper {

    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.post-footer .post-like-wrapper img {
    width: 3vw;
    height: 3vw;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin: 0 1%;
}


.post-footer .post-like-wrapper p {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 14px;
}

.post-footer .post-content-wrapper {
    display: flex;
}

.post-footer .post-content-wrapper .post-author {
    margin: 0% 2% 0% 2%;
    font-weight: bold;
    font-size: 14px;
}

.post-footer .post-content-wrapper .post-content {
    margin: 0%;
    font-size: 14px;
}

.post-footer .post-time {
    color: gray;
    font-size: 10px;
    margin-left: 2%;
    margin-top: 5%;
}

/* 푸터 */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 720px;
    border-top: 1px solid gray;
    background-color: black;
}

#footer #icon-wrapper {
    margin: 2% 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}


.footer-icon {
    margin-right: 35px;
    width: 100%;
    color: cornflowerblue;
    z-index: 3;
}

/*댓글 창*/

.main-icon-like-text-write-commentbox{
    display: flex;
    margin-top: 1%;
}

.main-icon-like-text-write-subtext{
    margin-left: 2%;
    color: white;
    font-size: 12px;
}

.main-icon-like-text-write-footer{
    color: white;
    font-size: 12px;
}

.main-icon-like-text-write-comment{
    color: white;
    font-size: 12px;

}

.userName{
    color: white;
    font-size: 14px;
}

.form-group{
    display: flex;
    color: white;

}
.form-control{
    height: 15px;
}

.btn-primary{
    color: #e82aff;
}
.comment-savebox{
    color: white;
}

.comment-wrapper{
    display: flex;
    color: white;

}

.comment-show-box{
    font-size: 12px;


}
